/* application css */
body {margin:0px;}
#root {font-family: "Microsoft JhengHei", Arial; margin-left:10px;}

.CodeMirror-linewidget {overflow:visible;}

.CodeMirror , .cm-s-ambiance.CodeMirror {
  line-height: 1.80em;
  font-size:120%;
  font-weight:100;
  font-family: "Times New Roman","新細明體";
  user-select: none;
}

.CodeMirror{
  background:#bfbfbf;
}
.CodeMirror-activeline-background {background: #cfcfcf}

.cm-s-ambiance .CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.131);
}

.CodeMirror-cursor { border-left: 3px solid gray; }



