
.j13zs .wh {
	font-size:100%;
}
.j13zs .an {
	font-size:50%;
}
.j13zs .v {writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    font-size:30px;
    /*font-size:40px;*/
    height:1920;
    overflow-y:auto;
}
.j13zs .warichu_big {
  font-size:68%;
  font-family: MingLiU;
  font-weight: 700;
}

.j13zs .warichu_shu {
  font-size:70%;
  border:solid 1px brown;
  border-radius: 5px;
  color:brown;
}

.j13zs .warichu {
  position:relative;
  width:200%;
  font-family: MingLiU;
  white-space: nowrap
}

.j13zs .warichu-left { 
 position:absolute;
 top:0px;
 right:0px;
 left:0px;
 width:50%;
  font-size:50%;
 height:100%;
 
}
.j13zs .warichu-right {
 position:absolute;
 top:0px;
 left:50%;
 width:50%;
 font-size:50%;
 height:100%;

}


.j13zs .warichu1::after {color:white;content:"-"}
.j13zs .warichu2::after {content:"　"}
.j13zs .warichu3::after {content:"　 "}
.j13zs .warichu4::after {content:"　　"}
.j13zs .warichu5::after {content:"　　 "}
.j13zs .warichu6::after {content:"　　　"}
.j13zs .warichu7::after {content:"　　　 "}
.j13zs .warichu8::after {content:"　　　　"}
.j13zs .warichu9::after {content:"　　　　 "}
.j13zs .warichu10::after{content:"　　　　　"}
.j13zs .warichu11::after{content:"　　　　　 "}
.j13zs .warichu12::after{content:"　　　　　　"}
.j13zs .warichu13::after{content:"　　　　　　 "}
.j13zs .warichu14::after{content:"　　　　　　　"}
.j13zs .warichu15::after{content:"　　　　　　　 "}
.j13zs .warichu16::after{content:"　　　　　　　　"}
.j13zs .warichu17::after{content:"　　　　　　　　 "}
.j13zs .warichu18::after{content:"　　　　　　　　　"}
.j13zs .warichu19::after{content:"　　　　　　　　　 "}
.j13zs .warichu20::after{content:"　　　　　　　　　　"}
.j13zs .warichu21::after{content:"　　　　　　　　　　 "}
.j13zs .warichu22::after{content:"　　　　　　　　　　　"}
.j13zs .warichu23::after{content:"　　　　　　　　　　　 "}
.j13zs .warichu24::after{content:"　　　　　　　　　　　　"}
.j13zs .warichu25::after{content:"　　　　　　　　　　　　 "}
.j13zs .warichu26::after{content:"　　　　　　　　　　　　　"}
.j13zs .warichu27::after{content:"　　　　　　　　　　　　　 "}
.j13zs .warichu28::after{content:"　　　　　　　　　　　　　　"}
.j13zs .warichu29::after{content:"　　　　　　　　　　　　　　 "}
.j13zs .warichu30::after{content:"　　　　　　　　　　　　　　　"}
.j13zs .warichu31::after{content:"　　　　　　　　　　　　　　　 "}
.j13zs .warichu32::after{content:"　　　　　　　　　　　　　　　　"}
.j13zs .warichu33::after{content:"　　　　　　　　　　　　　　　　 "}
.j13zs .warichu34::after{content:"　　　　　　　　　　　　　　　　　"}
.j13zs .warichu35::after{content:"　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu36::after{content:"　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu37::after{content:"　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu38::after{content:"　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu39::after{content:"　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu40::after{content:"　　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu41::after{content:"　　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu42::after{content:"　　　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu43::after{content:"　　　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu44::after{content:"　　　　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu45::after{content:"　　　　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu46::after{content:"　　　　　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu47::after{content:"　　　　　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu48::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　"}
.j13zs .warichu49::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　 "}
.j13zs .warichu50::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　　"}
